/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    background:#000;
    width:100%;
    height:100%;
}

svg
{
    width:100% !important;
    height:auto !important;
}

#Cymbal
{
    cursor: pointer;
}

#High_Tom
{
    cursor: pointer;
}

#Middle_Tom
{
    cursor: pointer;
}

#Hi-Hat_1
{
    cursor: pointer;
}

#Floor_Tom
{
    cursor: pointer;
}

#Snare_Drum
{
    cursor: pointer;
}

#Bass_Drum
{
    cursor: pointer;
}